.for_communication {
  max-width: 1400px;
  height: 717px;
  margin: 0 auto;
  background-color: #191c19;
  border-radius: 30px;
  margin-bottom: 150px;
}

.communication__container {
  width: 100%;
  height: inherit;
  position: relative;
}

.communication__image {
  position: absolute;
  right: 0;
  border-radius: 30px;
  user-select: none;
}

.communication__feedback {
  position: absolute;
  left: 122px;
  top: 100px;
}

.communication__feedback__title {
  width: 553px;

  font-size: 60px;
  line-height: 60px;
  color: white;
  margin-bottom: 60px;
}

.communication__form{
  margin-bottom: 60px;
}

.communication__input{
  display: block;
  border: none;
  outline: none;
  font-size: 22px;
  line-height: 28px;
  color: #fff;

  background-color: #3B3D3B;
  width: 567px;
  height: 60px;
  padding-left: 40px;
  border-radius: 1000px;
  margin-bottom: 26px;
}

.communication__input::placeholder{
  color: #fff;
}

.communication__button{
  font-size: 22px;
  line-height: 28px;
  padding: 20px 162px;
  background-color: #1BFF07;
  border-radius: 10px;

  border: none;
}