.service_item {
  margin-bottom: 40px;
}

.service_item_text {
  position: relative;
  height: 283px;
  display: flex;
  justify-content: space-between;

  padding-left: 40px;
  padding-top: 40px;
  border-radius: 30px;
  background-color: #191c19;
}

.service__item__title {
  width: 40%;
  color: #1bff07;
  margin-bottom: 20px;
}

.service__item__description {
  position: absolute;
  left: 50%;
}

.service_item:last-child {
  margin-bottom: 150px;
}
