@import url(header.css);
@import url(footer.css);
@import url(for_communication.css);
@import url(my_competencies.css);
@import url(my_services.css);
@import url(new_projects.css);

html {
  scroll-behavior: smooth;
  font-family: "IBM Plex Mono", sans-serif;
  background-color: black;
}

button {
  font-family: "IBM Plex Mono", sans-serif;
}

header {
  width: 100%;
  height: 765px;
  background-image: url(../resources/header_bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
}

h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  color: #1bff07;
}

h2 {
  font-weight: 400;
  font-size: 55px;
  line-height: 71px;
}

h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
}

h4,
button {
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
}

p {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: white;
}

a,
p,
h1,
h2,
h3,
h4,
button {
  letter-spacing: -0.03em;
}

.container {
  width: 1150px;
  margin: 0 auto;
}
